<table border="2">
    <thead>
        <tr>
            <th>Short Name</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price Small</th>
            <th>Price Large</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.items">
            <td>{{item.short_name}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price_small}}</td>
            <td>{{item.price_large}}</td>
        </tr>

    </tbody>
</table>
